<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<section>
    <div class="container">
      <h2>Image Post Type</h2>
   <div class="box image">
        <div class="box-header">
          <h3><a href=""><img src="" alt="profile pic" />User name</a>
            <span>March 21,18:45pm <i class="fa fa-globe"></i></span>
          </h3>
          <span><i class="fa fa-angle-down"></i></span>
          <div class="window"><span></span></div>
        </div>
        <div class="box-content">
          <div class="content">
            <img src="" alt="pic" />
          </div>
          <div class="bottom">
            <p>The life is much more interesant, when you remmenber the last time</p>
            <span><span class="fa fa-search-plus"></span></span>
          </div>
        </div>
        
        <div class="box-buttons">
          <div class="row">
            <button><span class="fa fa-thumbs-up"></span></button>
            <button><span class="ion-chatbox-working"></span></button>
            <button><span class="ion-share"></span></button>
          </div>
        </div>
    
      </div>  </div>  </section>